<div class="w-full">
  <app-card>
    <span title-card>{{'configYourAnimation' | translate}}
    </span>
    <form [formGroup]="parametrizationForm">
      <!-- #region TriggerName -->
      <ng-container
        *ngTemplateOutlet="validatorError; context: {controlName: 'triggerName', customValue: 'triggerName'}"></ng-container>
      <app-text-input formControlName="triggerName" [id]="'triggerName'" [type]="'text'"
        [label]="'triggerName'"></app-text-input>

      <!-- #endregion TriggerName -->

      <!-- #region Speed -->
      <ng-container
        *ngTemplateOutlet="validatorError; context: {controlName: 'speed', customValue: 'speedAnimation'}"></ng-container>
      <div class="flex flex-row gap-2">
        <div class="w-3/4">
          <app-text-input [min]="0" formControlName="speed" [id]="'speed'" [type]="'number'"
            [label]="'speedAnimation'"></app-text-input>
        </div>
        <div class="w-1/4">
          <app-select-input formControlName="speedType" [translateOptions]="true" [options]="timesOptions"
            [label]="'speedType'" [id]="'typeSpeed'"></app-select-input>

        </div>
      </div>

      <!-- #endregion Speed -->

      <!-- #region Delay -->
      <ng-container
        *ngTemplateOutlet="validatorError; context: {controlName: 'delay', customValue: 'speedAnimation'}"></ng-container>
      <div class="flex flex-row gap-2">
        <div class="w-3/4">
          <app-text-input [min]="0" formControlName="delay" [id]="'delay'" [type]="'number'"
            [label]="'delayAnimation'"></app-text-input>
        </div>
        <div class="w-1/4">
          <app-select-input formControlName="delayType" [translateOptions]="true" [options]="timesOptions"
            [label]="'speedType'" [id]="'delaySpeed'"></app-select-input>

        </div>
      </div>

      <!-- #endregion Delay -->


    </form>
    <div class="flex flex-row gap-2">
      <div class="w-1/2">
        <app-button (clickEvent)="animate.next(true)" [message]="'animate'" [id]="'animate'"></app-button>
      </div>
      <div class="w-1/2">
        <app-button (clickEvent)="cancel.next(true)" [message]="'cancel'" [id]="'cancel'"></app-button>
      </div>
    </div>

  </app-card>
</div>



<ng-template #validatorError let-controlName="controlName" let-customValue="customValue">
  <div class="my-3">
    @if (parametrizationForm.get($any(controlName))!.hasError('required')) {
    <span class="text-red-500">{{'isRequired' | translate:({value: customValue | translate, key:
      'customValue'})}}</span>
    }
    @if (parametrizationForm.get($any(controlName))!.hasError('min')) {
    <span class="text-red-500">{{'minError' | translate:({value:
      parametrizationForm.get($any(controlName))!.errors!['min'].min | translate, key: 'value'})}}</span>
    }
  </div>
</ng-template>
