.select-box {
  @apply relative;
}

.select-box select {
  @apply w-full;
  appearance: none;
  padding: 10px 0;
  font-size: 1rem;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #ffffff6a;
  outline: none;
  background: transparent;
  transition: .5s;
}

.select-box select option {
  @apply bg-slate-800;

  &:hover {
    background: theme('colors.primary.color1');
  }
}

.select-box input:focus {
  @apply border-b-[1px] border-primary-color1;
}

.select-box label {
  position: absolute;
  top: 0;
  left: 5px;
  padding: 10px 0;
  font-size: 1rem;
  color: #ffffff6a;
  pointer-events: none;
  transition: .5s;
}

.select-box select:focus~label,
.select-box select:has(option:checked:not([value=""]))~label {
  @apply text-primary-color1 top-[-20px] left-1;
  font-size: 12px;
}
